:javascript
  function update_ui() {
    window.location.reload();
  }


  add_employee = function() {
    var employee_name = $(':input[id="new_employee_name"]').val();

    $.ajax({
      type: "PUT",
      url: "/api/employee/" + employee_name,
      success: function(data) {
        update_ui();
      }
    });
  }

  del_employee = function(employee_name) {
    $.ajax({
      type: "DELETE",
      url: "/api/employee/" + employee_name,
      success: function(data) {
        update_ui();
      }
    });
  }


  set_working_for_employee = function(employee_name) {
    var working = $(':input[id="check_working_' + employee_name + '"]:checked').val() !== undefined;

    $.ajax({
      type: "POST",
      url: "/api/map/working/" + employee_name + "/" + working,
      success: function(data) {
        //update_ui();
      },
      error: function() {
        update_ui();
      }
    });
  }


  map_task_to_employee = function(employee_name, task_name, workload, success_handler, error_handler) {
    $.ajax({
      type: "POST",
      url: "/api/map/task/" + employee_name + "/" + task_name + "/" + workload,
      success: success_handler,
      error: error_handler
    });
  }

  del_task_from_employee = function(employee_name, task_name, success_handler, error_handler) {
    $.ajax({
      type: "DELETE",
      url: "/api/map/task/" + employee_name + "/" + task_name,
      success: success_handler,
      error: error_handler
    });
  }


  $(function() {
    $('.changeable_cell').click(function() {
      var $cell = $(this);
      var old_content = $.trim($cell.html());

      $cell.html('<input type="text" style="width: 30px"/>');
      var $input_field = $cell.find("input");
      var abort_editing = function() {
        $input_field.remove();
        $cell.html(old_content);
      }

      var exit_handler = function() {
        var content = $input_field.val();
        $input_field.remove();

        if(content != old_content) {
          // find employee and task for this cell
          var $tr_employee = $cell.parent();
          var col = $tr_employee.children().index($cell);
          var $th_task = $tr_employee.parent().children().first().find(':nth-child('+(col+1)+')');

          var task = $.trim($th_task.html());
          var employee = $.trim($tr_employee.children().first().find('.employee_row_header').html());

          if(content.match(/^[1-9]\d*$/)) {
            // number we can use
            var number = parseInt(content);

            map_task_to_employee(employee, task, number,
              function() {
                $cell.html(number);
              },
              function() {
                $cell.html("error");
              }
            );
          } else if(content.match(/^$|^0$/)) {
            // empty or zero, so delete
            del_task_from_employee(employee, task,
              function() {
                $cell.html("");
              },
              function() {
                $cell.html("error");
              }
            );
          } else {
            // nothing we can handle, so keep old stuff
            $cell.html(old_content);
          }
        } else {
          $cell.html(old_content);
        }
      }

      // configure input field to behave like we want to
      $input_field
        .val(old_content)
        .click(function() {
          // chew click events so the table cell does not generate a new input field
          return false;
        })
        .blur(exit_handler)
        .keydown(function(e) {
          switch(e.keyCode) {
            case 13: exit_handler(); break;
            case 27: abort_editing(); break;
          }
        })
        .focus();
    });
  });

%h1
  Manage Employees
%div
  - if engine.get_employees.empty?
    No employees defined yet.
  - else
    %table
      %tr
        %th
          -# empty because of employee rows
        - engine.get_tasks.each do |task|
          %th #{task.name}
      -#%tr
      -#  %th min
      -#  - engine.get_tasks.each do |task|
      -#    %td #{task[:cap_min]}
      -#%tr
      -#  %th max
      -#  - engine.get_tasks.each do |task|
      -#    %td #{task[:cap_max]}
      -#%tr
      -#  %th workload
      -#  - engine.get_tasks.each do |task|
      -#    %td #{task[:workload]}
      - engine.get_employees.each do |employee|
        %tr
          %th
            %span
              - if employee.working
                %input{:id => "check_working_#{employee.name}", :type => "checkbox", :checked => "checked", :onchange => "set_working_for_employee(\"#{employee.name}\")"}
              - else
                %input{:id => "check_working_#{employee.name}", :type => "checkbox", :onchange => "set_working_for_employee(\"#{employee.name}\")"}
            %span{:class => "employee_row_header"}
              #{employee.name}
            %span
              %input{:type => "submit", :value => "Delete", :onclick => "del_employee(\"#{employee.name}\")"}
          - engine.get_tasks.each do |task|
            %td{:class => "changeable_cell"}
              - tasks_per_employee = engine.get_tasks_per_employee employee.name
              - if tasks_per_employee.has_key? task.name
                #{engine.get_tasks_per_employee(employee.name)[task.name]}

%div
  %label{:for => "new_employee_name"} Name:
  %input{:type => "text", :id => "new_employee_name"}
  %input{:type => "submit", :value => "Add", :onclick => "add_employee()"}
